.navbar-nav .dropdown-menu{
    position: absolute;
    float: left;
}

i.fa{
    width:16px;
    text-align: center;
}

@media only screen and (max-width: 760px){
    .navbar-nav .dropdown-menu{
        position: static;
        float: left;
    }
}

td .actions{
    display: flex;
    justify-content: space-around;
}

th.actions{
    width: 270px;
}